.chosen-property-details-form {
  height: 160vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(134, 241, 139, 0.2);
  object-fit: contain;
    
      
    }

    .form-content-right h1{
      padding-bottom: 50px;
    }
  
    .real-property-details-form {
      padding-top: 18cm;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      height: 240%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .content-box-property-details{
      height: 145vh;
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: inset 0 0 0 1000px rgba(158, 204, 231, 0.616);
      object-fit: contain;
      border-radius: 25px;
    }
  
    .form-chosen-property-details {
      margin-bottom: 0.5rem;
      width: 80%;
  
    }

    .form-inputs-property-details {
      font-size: 1rem;
      margin-bottom: 0.5rem;
      width: 55%;
  
    }
    
    .form-inputs-property-details p {
      font-size:0.8rem;
      margin-top: 0.5rem;
      color: #f00e0e;
    }
  
    
    .form-property-details-label {
      display: inline-block;
      font-size: 0.8rem;
      margin-bottom: 6px;
      color: rgb(7, 7, 7);
    }
  
    .form-property-title {
      display: inline-block;
      font-size: 0.8rem;
      margin-bottom: 6px;
      color: rgb(7, 7, 7);
    }
  
    .form-input-btn {
      width: 80%;
      height: 50px;
      margin-top: 10px;
      border-radius: 2px;
      background: linear-gradient(
        90deg,
        rgb(39, 176, 255) 0%,
        rgb(0, 232, 236) 100%
      );
      outline: none;
      border: none;
      color: #fff;
      font-size: 1rem;
    }
    
    .form-input-btn:hover {
      cursor: pointer;
      background: linear-gradient(
        90deg,
        rgb(39, 143, 255) 0%,
        rgb(12, 99, 250) 100%
      );
      transition: all 0.4s ease-out;
    }
  
    .form-input-login {
      font-size: 0.8rem;
      margin-top: 10px;
      color: rgb(0, 0, 0);
      width: 80%;
      text-align: center;
    }
    
    .form-input-login a {
      text-decoration: none;
      color: #f73636;
      font-weight: 600;
    }
  
    
  .form-property-details-input {
      display: block;
      padding-left: 10px;
      outline: none;
      border-radius: 2px;
      height: 40px;
      width: 100%;
      border: none;
    }
    
    .form-property-details-input::placeholder {
      color: #595959;
      font-size: 12px;
    }
  
  