.upload-form {
    height: 180vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(118, 238, 124, 0.2);
    object-fit: contain;
      
    }

        
    .upload-property-greet{
        margin-bottom: 30px;
    }

    .errorInLogIn {
      color: #f00e0e;
    }
  
    .form-content-right h1{
      padding-bottom: 50px;
    }
    .error-box{
      justify-content: center;
    }
    .upload-property-content-box{
      height: 135vh;
      width: 95%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: inset 0 0 0 1000px rgba(158, 204, 231, 0.616);
      object-fit: contain;
      border-radius: 25px;
    }
  
    .real-upload-property-form {
      padding-top: 20cm;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 45%;
      height: 240%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .form-inputs-upload {
      font-size: 1rem;
      margin-bottom: 0.5rem;
      width: 55%;
  
    }
    
    .form-inputs-upload p {
      font-size:0.8rem;
      margin-top: 0.5rem;
      color: #f00e0e;
    }
  
    .form-upload-property-label {
      display: inline-block;
      font-size: 0.8rem;
      margin-bottom: 6px;
      color: rgb(7, 7, 7);
    }
  
    .form-upload-property-btn{
      width: 55%;
      height: 50px;
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 2px;
      background: linear-gradient(
        90deg,
        rgb(39, 176, 255) 0%,
        rgb(0, 232, 236) 100%
      );
      outline: none;
      border: none;
      color: #fff;
      font-size: 1rem;
    }
    
    .form-upload-property-btn:hover {
      cursor: pointer;
      background: linear-gradient(
        90deg,
        rgb(39, 143, 255) 0%,
        rgb(12, 99, 250) 100%
      );
      transition: all 0.4s ease-out;
    }

    .form-upload-predict-btn{
        width: 25%;
        height: 50px;
        margin-top: 1400px;
        margin-bottom: 10px;
        border-radius: 2px;
        background: linear-gradient(
          90deg,
          rgb(223, 255, 39) 0%,
          rgb(240, 210, 128) 100%
        );
        outline: none;
        border: none;
        color: rgb(0, 0, 0);
        font-size: 1rem;
      }
      
      .form-upload-predict-btn:hover {
        cursor: pointer;
        background: linear-gradient(
          90deg,
          rgb(159, 245, 119) 0%,
          rgb(164, 247, 110) 100%
        );
        transition: all 0.4s ease-out;
      }
  
    
  .form-input {
      display: block;
      padding-left: 10px;
      outline: none;
      border-radius: 2px;
      height: 40px;
      width: 100%;
      border: none;
    }
    
    .form-input::placeholder {
      color: #595959;
      font-size: 12px;
    }
  
  